<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item text-primary"><a [routerLink]="['/projects/user/1']">Proyectos</a> / <a
                    [routerLink]="['/projects/user/1/1']">{{block.proyecto_idproyecto.nombreproyecto}}</a> / <span
                    class="text-secondary">{{block.nombrebloque}}</span> </li>
        </ol>
    </nav>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h3 class="mt-0">{{block.nombrebloque}}
                            <div *ngIf="block.iniciobloque<block.finbloque">
                                <span class="badge badge-primary">Abierto</span>
                            </div>
                        </h3>
                    </div>
                    <div class="row">
                        <p>{{block.descbloque}}</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col container-flex">
            <div class="row">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Modificar bloque
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#exampleModalCenter">Eliminar bloque</button>
                </div>
            </div>
            <div class="col dates" style="display: inline-block">
                <p>Proyecto: <a class="text-primary"
                        [routerLink]="['/projects/user/1',block.proyecto_idproyecto.idproyecto]">{{block.proyecto_idproyecto.nombreproyecto}}</a>
                </p>
                <p>Creado: {{block.fechacreacion | date:'dd-MM-yyyy HH:mm:ss'}}</p>
                <p>Inicio: {{block.iniciobloque}}</p>
                <p>Fin: {{block.finbloque}}</p>
            </div>

            <div class="container row" style="display: inline-block">
                <h3>Horas proyecto</h3>
                Horas estimadas:
                <div class="progress mb-1">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100">{{this.horasestimacion}} h</div>
                </div>
                Horas actuales:
                <div class="progress mb-1 ">
                    <div class="progress-bar bg-info" role="progressbar"
                        [style.width]="currentHours(this.horasactuales, this.horasestimacion)" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100">{{this.horasactuales}} h</div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle">Borrar bloque</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Desea borrar el bloque <b>{{block.nombrebloque}}</b>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" (click)="deleteBlock(this.block.idbloque);"
                    data-dismiss="modal">Sí</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for update project -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">{{block.nombrebloque}}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-update-block-form [block]="block"></app-update-block-form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>