<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item text-primary"><a [routerLink]="['/projects/user/', userId]">Proyectos</a> / <a
                [routerLink]="['/projects/user/',userId, task.proyectos_idproyecto.idproyecto]">{{task.proyectos_idproyecto.nombreproyecto}}</a>
            / <a [routerLink]="['/blocks',task.bloques_idbloque.idbloque,'user', userId]">{{task.bloques_idbloque.nombrebloque}}
            </a> / <span>{{task.nombretarea}}</span> </li>
    </ol>
</nav>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <h3 class="mt-0"><b>{{task.nombretarea}}</b></h3>
                    <div *ngIf="task.fechainicio<task.fechafin">
                        <span class="badge badge-primary">Abierto</span>
                    </div>
                    <hr style="text-align:left;margin-left:0">
                <p>{{task.desctarea}}</p>
            </div>
        </div>
    </div>
    <div class="col container-flex">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button *ngIf="permissions.includes('7')" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Modificar tarea
                </button>
                <button *ngIf="permissions.includes('10')" type="button" class="btn btn-danger" data-toggle="modal"
                    data-target="#exampleModalCenter">Eliminar
                    tarea</button>
            </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item mt-2">
                <h3 class="accordion-header" id="fechas">
                    <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsefechas" aria-expanded="false" aria-controls="collapsefechas">
                        Fechas <i class="fas fa-chevron-down"></i>
                    </button>
                </h3>
                <div id="collapsefechas" class="accordion-collapse collapse show" aria-labelledby="fechas"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="container row" style="display: inline-block">
                            <p>Creado: {{task.fechacreacion | date:'dd-MM-yyyy HH:mm:ss'}}</p>
                            <p *ngIf="task.fechainicio">Inicio: {{task.fechainicio | date:'dd-MM-yyyy'}}
                            </p>
                            <p *ngIf="task.fechafin">Fin: {{task.fechafin | date:'dd-MM-yyyy'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr style="text-align:left;margin-left:0">
        <div class="accordion" id="accordionExample2">
            <div class="accordion-item mt-2">
                <h3 class="accordion-header" id="horas">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsehoras" aria-expanded="false" aria-controls="collapsehoras">
                        Horas <i class="fas fa-chevron-down"></i>
                    </button>
                </h3>
                <div id="collapsehoras" class="accordion-collapse collapse show" aria-labelledby="horas"
                    data-bs-parent="#accordionExample2">
                    <div class="accordion-body">

                        <div class="container row" style="display: inline-block">
                            Horas estimadas: {{0+task.horasestimacion}} horas
                            <div class="progress mb-1">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{task.horasestimacion}}
                                    h</div>
                            </div>
                            Horas actuales: {{0+task.horasactuales}} horas
                            <div class="progress mb-1 ">
                                <div class="progress-bar bg-info" role="progressbar"
                                    [style.width]="currentHours(task)" aria-valuenow="0" aria-valuemin="0"
                                    aria-valuemax="100">{{task.horasactuales}} h</div>
                            </div>
                            Horas restantes: {{0+task.horasrestantes}} horas
                            <div class="progress mb-1">
                                <div class="progress-bar bg-warning" role="progressbar"
                                    [style.width]="remainingHours(task)" aria-valuenow="0" aria-valuemin="0"
                                    aria-valuemax="100">{{task.horasrestantes}} h</div>
                            </div>
                            <button type="button" class="btn btn-primary mt-3" data-toggle="modal"
                                data-target="#registerHours">
                                Registrar horas
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr style="text-align:left;margin-left:0">
        <div class="accordion" id="accordionExample3">
            <div class="accordion-item mt-2">
                <h3 class="accordion-header" id="usuarios">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseusuarios" aria-expanded="true" aria-controls="collapseusuarios">
                        Usuarios <i class="fas fa-chevron-down"></i>
                    </button>
                </h3>
                <div id="collapseusuarios" class="accordion-collapse collapse show" aria-labelledby="usuarios"
                    data-bs-parent="#accordionExample3">
                    <div class="accordion-body">
                        <div class="container row" style="display: inline-block">
                            <div *ngFor="let u of users">
                                <p class="m-0">{{u.nombre}} {{u.primerapellido}}</p>
                            </div>
                            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                data-target="#assignUser">
                                Asignar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle">Borrar tarea</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Desea borrar el bloque <b>{{task.nombretarea}}</b>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" (click)="deleteTask(this.task.idtarea);"
                    data-dismiss="modal">Sí</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for update project -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">{{task.nombretarea}}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-update-task-form [task]="task"></app-update-task-form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal for register hours -->
<div class="modal fade" id="registerHours" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">{{task.nombretarea}}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-register-hours [task]="task"></app-register-hours>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for task assignment-->
<div class="modal fade" id="assignUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">{{task.nombretarea}}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-check">
                    <label for="exampleFormControlTextarea1" class="form-label">Usuarios</label>
                    <select class="form-control form-control-sm" (change)="selectUser($event)">
                        <option value="">Selecciona el usuario</option>
                        <option *ngFor="let us of usersToAssign" [value]="us.idusuario">
                            {{us.nombre}} - {{us.email}}</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="assignUser(task.idtarea)">Asignar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>