<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item text-primary"><a [routerLink]="['/projects/user/1']">Proyectos</a> / <a
                    [routerLink]="['/projects/user/', task.proyectos_idproyecto.idproyecto ,1]">{{task.proyectos_idproyecto.nombreproyecto}}</a>
                / <a [routerLink]="['/blocks',task.bloques_idbloque.idbloque,'user', 1]">{{task.bloques_idbloque.nombrebloque}}
                </a> / <span>{{task.nombretarea}}</span> </li>
        </ol>
    </nav>
    <div class="row">
        <div class="col">
            <h3 class="mt-0">{{task.nombretarea}}
                <div *ngIf="task.fechainicio<task.fechafin">
                    <span class="badge badge-primary">Abierto</span>
                </div>
            </h3>
            <p>{{task.desctarea}}</p>
            <!-- <div class="media">
                <img class="align-self-start mr-3" src="..." alt="Generic placeholder image">
                <div class="media-body">
                    <h3 class="mt-0">{{project.nombreproyecto}} <span class="badge badge-secondary">New</span></h3>
                    <p>{{project.descproyecto}}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus neque odio, congue quis efficitur a, eleifend accumsan eros. Aenean vel egestas lorem. Cras egestas porttitor lectus, id suscipit ante egestas vel. Nullam sed lacinia lorem. Etiam nisl ligula, semper ut tellus at, varius laoreet magna. Vestibulum a tincidunt nulla. Nam ac tincidunt enim. Suspendisse dapibus hendrerit nunc, a varius purus mollis sed. Fusce id sem at lorem fringilla condimentum eu eget metus. Sed sit amet lectus in est venenatis fermentum vel nec ante. Nulla velit ex, malesuada eu pulvinar ut, consequat quis magna. Praesent imperdiet nibh ultricies sapien ultricies pretium. Aenean non quam a mauris ullamcorper vulputate ut luctus mauris. Duis facilisis, mauris ut semper porttitor, justo ante aliquam magna, vitae euismod lacus libero at quam. Pellentesque eu pharetra ipsum. Aliquam suscipit ex id ligula tempor, vel placerat magna iaculis.

                    </p>
                </div>
            </div> -->
        </div>
        <div class="col dates" style="display: inline-block">
            <p>Creado: {{task.fechacreacion | date:'dd-MM-yyyy HH:mm:ss'}}</p>
            <p>Inicio: {{task.fechainicio}}</p>
            <p>Fin: {{task.fechafin}}</p>
        </div>
        <div class="col">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">Modificar proyecto</button>
                <button type="button" class="btn btn-danger" data-toggle="modal"
                    data-target="#exampleModalCenter">Eliminar Proyecto</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Desea borrar el proyecto {{project.nombreproyecto}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary">Sí</button>
            </div>
        </div>
    </div>
</div>-->