<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item text-primary"><a [routerLink]="['/projects/user/1']">Proyectos</a> / <a
                    [routerLink]="['/projects/user/', task.proyectos_idproyecto.idproyecto ,1]">{{task.proyectos_idproyecto.nombreproyecto}}</a>
                / <a [routerLink]="['/blocks',task.bloques_idbloque.idbloque,'user', 1]">{{task.bloques_idbloque.nombrebloque}}
                </a> / <span>{{task.nombretarea}}</span> </li>
        </ol>
    </nav>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h3 class="mt-0">{{task.nombretarea}}
                            <div *ngIf="task.fechainicio<task.fechafin">
                                <span class="badge badge-primary">Abierto</span>
                            </div>
                        </h3>
                    </div>
                    <div class="row">

                        <p>{{task.desctarea}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col container-flex">
            <div class="row">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Modificar tarea
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#exampleModalCenter">Eliminar
                        tarea</button>
                </div>
            </div>
            <div class="row dates mt-2" style="display: inline-block">
                <p>Creado: {{task.fechacreacion | date:'dd-MM-yyyy'}}</p>
                <p *ngIf="task.fechainicio!=null">Inicio: {{task.fechainicio}}</p>
                <p *ngIf="task.fechafin!=null">Fin: {{task.fechafin}}</p>
            </div>

            <div class="container row" style="display: inline-block">
                <h1>Registro horario</h1>
                Horas estimadas:
                <div class="progress mb-1">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100">{{task.horasestimacion}} h</div>
                </div>
                Horas actuales:
                <div class="progress mb-1 ">
                    <div class="progress-bar bg-info" role="progressbar" [style.width]="currentHours(task)"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{task.horasactuales}} h</div>
                </div>
                Horas restantes:
                <div class="progress mb-1">
                    <div class="progress-bar bg-warning" role="progressbar" [style.width]="remainingHours(task)"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{task.horasrestantes}} h</div>
                </div>
                <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#registerHours">
                    Registrar horas
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle">Borrar tarea</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Desea borrar el bloque <b>{{task.nombretarea}}</b>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" (click)="deleteTask(this.task.idtarea);"
                    data-dismiss="modal">Sí</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for update project -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">{{task.nombretarea}}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-update-task-form [task]="task"></app-update-task-form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal for register hours -->
<div class="modal fade" id="registerHours" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">{{task.nombretarea}}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-register-hours [task]="task"></app-register-hours>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>