<a class="list-group-item list-group-item-action flex-column align-items-start" [routerLink]="[block.idbloque]">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1" >{{block.nombrebloque}}</h3>
      <!--<small>Última modificación: {{lastModification.fechahistorico | date:'dd-MM-yyyy HH:mm:ss'}}</small>-->
      <small>Proyecto: {{block.proyecto_idproyecto.idproyecto}} - {{block.proyecto_idproyecto.nombreproyecto}}</small>
    </div>
    <p class="mb-1">{{block.descbloque}}</p>
    <small>{{block.idbloque}}</small>
</a>