<nav class="navbar navbar-expand-md navbar-dark bg-dark border-bottom flex-md-nowrap">
   <!--class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap"--> 
    
    <!-- Button for sidebar -->
    <button type="button" id="sidebarCollapse" class="btn bg-dark navbar-toggler" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container promentWord">
        <a class="navbar-brand mx-4" [routerLink]="['home/', user.idusuario]">Proment</a>
    </div>
    <!-- Button for navbar -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <form class="form-inline navbar-nav ml-auto mt-2 mt-md-0 mr-4">
            <input #buscarTexto class="form-control mr-sm-2" type="search" placeholder="Buscar..." (keyup.enter)="searchApp(buscarTexto.value)">
            <button class="btn btn-outline-primary my-2 my-sm-0" (click)="searchApp(buscarTexto.value)" type="button">Buscar</button>
        </form>
        <div class="container-flex m-1">
            <button type="button" class="btn btn-primary" [routerLink]="['user-panel/']"><span class="text-white mx-2">
            <i class="fas fa-user"></i>
            {{user.username}}</span></button>
        </div>

        <div *ngIf="rol.includes('1')">
            <button class="btn btn-info mr-1" [routerLink]="['administration-panel/']">
                Administración
            </button>
        </div>
        <div *ngIf="user.username">
            <button class="btn btn-danger" (click)="logout()">
                Logout
            </button>
        </div>
    </div>
</nav>