<a class="list-group-item list-group-item-action flex-column align-items-start"
    [routerLink]="['/users/user',user.idusuario]">
    <div class="d-flex w-100 justify-content-between row">
        <div class="col-9">
            <p>{{user.nombre}} {{user.primerapellido}} - {{user.email}}</p>
        </div>
        <div class="col">
            <div class="row">
                Activo
                <div *ngIf="user.estado===1">
                    <input class="m-1" type="checkbox" checked>
                </div>
                <div *ngIf="user.estado === 0">
                    <input class="m-1" type="checkbox">

                </div>
            </div>
        </div>
    </div>
</a>