<div class="navbar-dark bg-dark">
  <!-- Sidebar -->
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <li class="active">
        <a [routerLink]="['home/', userId]">Inicio</a>
      </li>
      <li>
        <a href="#" [routerLink]="['projects/user/', userId]">Proyectos</a>
      </li>
      <li>
        <a href="#" [routerLink]="['blocks/user/', userId]">Bloques</a>
      </li>
      <li>
        <a href="#" [routerLink]="['task/user/', userId]">Tareas</a>
      </li>
    </ul>
  </nav>
</div>