<div class="container-flex">
    <div class="fixedHeightContainer">
        <h2>Próximas tareas</h2>
        <div class="content">
            <div *ngIf="tasks.length>0; else elseBlock">
                <div class="card-columns">
                    <div class="card animated fadeIn fast" *ngFor="let task of tasks">
                        <a [routerLink]="['/task/', task.idtarea, 'user',userId]">
                            <div class="card-body">
                                <h4 class="card-title">{{ task.nombretarea }}</h4>
                                <p class="card-text"> {{ task.desctarea | slice:0:200 }} </p>
                                <p class="card-text"><small class="text-muted">Creada: {{task.fechaactualizacion |
                                        date:'dd-MM-yyyy'
                                        }}</small></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="col">
            <h2>No tienes tareas asignadas.</h2>
        </div>
    </ng-template>
</div>