<!-- Footer -->
<footer class="bg-dark text-center text-white text-lg-start mt-4">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <h5 class="text-uppercase">Proment</h5>
                <a href="#"><i class="fa fa-twitter p-2" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook p-2" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram p-2" aria-hidden="true"></i></a>
                <p>
                    Alpha 1.0 - Versión en desarrollo.
                </p>
            </div>
        </div>
    </div>
    <div class="text-center p-3 footer-color">
        © 2020 Proment:
        <a class="text-white" href="#">Proment.com</a>
    </div>

</footer>